NEXT_PUBLIC_DIRECTUS_URL=https://app.nexpo.vn
DIRECTUS_ADMIN_TOKEN=your_admin_token_here
NEXT_PUBLIC_APP_URL=http://localhost:3004
NEXT_PUBLIC_SERVICES_URL=https://services.nexpo.vn
NEXPO_ADMIN_URL=http://localhost:3000
